.getintouch {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  @media only screen and (max-width: $bp-large) {
    width: 42vw;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 70vw;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 76vw;
  }

  & > * {
    margin: 0;
  }

  &__question {
    font-size: 1.8rem;
    color: $color-primary-light-9;
  }

  &__title {
    font-size: 4.2rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.6rem;
    font: 300;
    color: $color-primary-light-9;
    line-height: 1.2;
    filter: brightness(80%);
    letter-spacing: 1.6px;
    text-align: center;
  }

  & a {
    margin-top: 2rem;
  }
}
